body {
    margin: 0;
    background-color: #252525;
    font-family: 'Poppins', sans-serif;

}

main {
    width: 70%;
    min-width: 880px;
    min-height: 700px;
    background-color: white;
    margin: 40px auto 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

table, tr, td, th {
    border: 1px solid rgb(200, 200, 200);
    border-collapse: collapse;
    padding: 8px;
    min-width: 80px;
    min-height: 40px;
}

table {
    margin: 0 10px;
}

th {
    font-size: 20px;
}

thead, tr {
    width: 100%;
}

input { 
    height: 26px;
    padding: 0 10px;
    border-radius: 6px;
}

select {
    min-height: 28px;
    border-radius: 8px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: white;
}

input, select {
    margin: 6px;
    border: 1px solid #c2c2c2;
}


.buttons-container {
    display: flex;
    margin: 0 40px;
    align-items: center;
}

.buttons-container button {
    min-width: 120px;
    min-height: 30px;
    border-radius: 8px;
    border: 0;
    background-color: cornflowerblue;
    color: white;
    margin: 6px ;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
}

.buttons-container button:hover {
    background-color: rgb(168, 196, 248);
}

.id {
    width: 10%;
    text-align: center;
}

.name {
    width: 45%;
}

.email {
    width: 45%;
}

.search-container {
    min-width: 400px;
    margin: 20px 0 20px;
    display: flex;
    justify-content: center;
}

.new-employee-container {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-employee-container h2 {
    margin-bottom: 10px;
}

#new-employee-screen {
    position: relative;
    width: 680px;
    height: 360px;
    background-color: white;
    margin: 140px auto 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

#new-employee-exit-button {
    position: absolute;
    right: 20px;
    top: 10px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(202, 27, 27);
    font-size: 20px;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.inputs-container {
    width: 60%;
    margin: 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.inputs-container div {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.inputs-container div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.inputs-container p {
    margin: 0;
}

#new_employee_id_field, #new_employee_ramal_field {
    width: 50px;
}

#new_employee_name_field, #new_employee_email_field {
    width: 250px;
}

#new_employee_send_button {
    margin-top: 20px;
    min-width: 120px;
    min-height: 30px;
    border-radius: 8px;
    border: 0;
    background-color: cornflowerblue;
    color: white;
    margin: 14px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}



#new_employee_send_button:hover {
    background-color: rgb(168, 196, 248);
}

#add-new-employee {
    min-width: 160px;
}

#result-table-container {
    width: 80%;
    min-width: 860px;
    margin: 0 auto 40px;
}



#result-table {
    margin: 0 auto;
}

.hide {
    display: none;
}
